.TodoWrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:#e6c8c8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.TodoForm {
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #45a049;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.completed {
  text-decoration: line-through;
  color: #ab1d7e;
}

.Todo p {
  margin: 0;
  cursor: pointer;
}

.Todo div {
  display: flex;
  gap: 10px;
}

.fa-icon {
  cursor: pointer;
  color: #888;
}

.fa-icon:hover {
  color: #333;
}